:root
{
  font-family: 'Courier New', Courier, monospace;
}

html
{
  color: #313973;
  background-color: #FAFAFA;
}

button
{
  background-color:#E0E4FF ;
  font-family: 'Courier New', Courier, monospace;
}

button:hover
{
  background-color:#A8EDF0 ;
}

#media
{
  position: fixed;
  right: 1%;
  bottom: 1%;
}

#song-info
{
  position: fixed;
  left: 1%;
  bottom: 1%;
}
