:root
{
  font-family: 'Courier New', Courier, monospace;
}

html
{
  color: #313973;
  background-color: #FAFAFA;
}

button
{
  background-color:#E0E4FF ;
  font-family: 'Courier New', Courier, monospace;
}

button:hover
{
  background-color:#A8EDF0 ;
}
