:root
{
  font-family: 'Courier New', Courier, monospace;
}

html
{
  color: #313973;
  background-color: #FAFAFA;
}

button
{
  background-color:#E0E4FF ;
  font-family: 'Courier New', Courier, monospace;
}

button:hover
{
  background-color:#A8EDF0 ;
}

#media
{
  position: fixed;
  right: 1%;
  bottom: 1%;
}

#song-info
{
  position: fixed;
  left: 1%;
  bottom: 1%;
}

@font-face {
  font-family: "Yusei Magic";
  src: url("public/YuseiMagic-Regular.ttf") format("truetype");
}

#current-word-display
{
  font-size: 1000%;
  font-family: "Yusei Magic", sans-serif;
}
